<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<style>
	</style>

</head>
<body>
	<div class="container">
        <h3 id="form-title">LOGIN</h3>
		<form method="POST" action="">
            {% csrf_token %}
            Username: <input type="text" name="username" placeholder="Username" class="form-control">
            Password: <input type="password" name="password" placeholder="Password" class="form-control" >
			<input class="btn login_btn" type="submit" value="Login">
        </form>

		{% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}

        <div>
            Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
        </div>
    </div>
</body>

</html>